/Onx100.ProtocolConsole/bin
/Onx100.ProtocolConsole/obj
/Onx100.ProtocolConsole/.vs
/.vs
/Onx100.Driver/bin
/Onx100.Driver/obj
/Onx100.Driver.Tests/obj
/Onx100.Driver.Tests/bin
/Onx100.Demo/bin
/Onx100.Demo/obj
/Onx100.Api/obj
/Onx100.Api/bin
/Onx100.Api/Onx100.Api.csproj.user
